*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}

body{
    margin:0;
    background-color:blue;
}

.conteiner{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculadora{
    border:8px solid white;
    display:grid;
    grid-template-columns:repeat(4, 75px);
    grid-template-rows:160px repeat(5, 75px);
    background-color:orange;
    padding:15px;
    border-radius:32px;
    box-shadow:15px 10px 0px 5px black;
}

button{
    cursor:pointer;
    margin:5px;
    padding:0;
    border-radius:32px;
    font-size:1.5em;
    border:none;
    background-color:orange;
    box-shadow:5px 5px 15px -3px black, -5px -5px 15px 3px orange;
}

button:active{
    background:rgb(194, 126, 0);
}

button:focus{
    outline:none;
}

.display{
    grid-column:1/-1;
    padding:16px;
    display:flex;
    margin:10px 10px 20px;
    flex-direction:column;
    align-items:flex-end;
    background-color:black;
    border-radius:20px;
    text-align:right;
    justify-content:space-between;
    word-break:break-all;
    box-shadow:0px 0px 0px 8px white;
}

.col-2{
    grid-column:span 2;
}

#valor-actual{
    font-size:1.5em;
}

#valor-anterior{
    font-size:2em;
}

@media (max-width:950px){
    .calculadora{
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: 160px repeat(5, 50px);
    }
}